asgiref==3.3.4
dj-database-url==0.5.0
Django==3.2
django-admin==2.0.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-six==1.0.4
gunicorn==20.0.4
jsonschema==3.2.0
oauth==1.0.1
oauthlib==2.0.6
Pillow==8.2.0
psycopg2==2.7.7
psycopg2-binary==2.8.6
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.18.4
six==1.15.0
sqlparse==0.4.1
urllib3==1.22
urlquote==1.1.4
virtualenv==16.4.3
whitenoise==5.2.0
WTForms==2.3.3
zipp==3.4.0
