{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  <link href="{% static 'css/login.css' %}" rel="stylesheet">  
  </head>
 <body>
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Login</h1>
      </div>
      
      <div class="login-form">
        <form method="POST" action="">
        {% csrf_token %}
        <div class="control-group">
        <input type="text" name="username" placeholder="username">

        </div>

        <div class="control-group">
        <input type="password" name="password" placeholder="password">

        </div>

        <input class="btn btn-primary btn-large btn-block" type="submit" value="Login">
        </form>
        {% for message in messages%}
        <p>{{message}}</p>
        {% endfor %}
        <a class="login-link" href="{% url 'register'%}">Sign up</a>
      </div>
      
    </div>
  </div>
</body>
</html>
