{% extends "base_generic.html" %}

{% block content %}
	<p></p>
    <h1>Список накопителей</h1>
    {% if devices %}
    
      {% for device in devices %}
        <div class="bd-example">
        <p>Серийный номер устройства: {{device.serialNumber}}</p>
        <p>Модель устройства: {{device.modelFamily}}</p>
        <p>Модель устройства: {{device.deviceModel}}</p>
        <p>Объем памяти: {{device.userCapacity}}</p>
        <p>Размер сектора: {{device.sectorSizes}}</p>
        <p>Скорость вращения: {{device.rotationRate}}</p>
        <p>АТА версия: {{device.ataVersion}}</p>
        </div>
      {% if smart %}  
    <input name="date" type="date" />
    <div>
        <div class="bd-example">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя атрибута</th>
            <th scope="col">Текущее значение</th>
            <th scope="col">Критическое значение</th>
            <th scope="col">Абсолютное значение</th>
            <th scope="col">Дата</th>
          </tr>
          </thead>
          <tbody>
          {% for attr,attribute in smart %}
          <tr>
            <td>{{attr.Num}}</td>
            <td>{{attr.Name}}</td>
            <td>{{attribute.Current}}</td>
            <td>{{attr.Trash}}</td>
            <td>{{attribute.RawValue}}</td>
            <td>{{attribute.Date}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>

    </div>
    {% else %}
      <p>S.M.A.R.T. не поддерживается</p>
    {% endif %}
      {% endfor %}


    {% else %}
      <p>Нет отслеживаемых устройств.</p>
    {% endif %} 
{% endblock %}
